.login-page {
	font-family: 'Courier New', Courier, monospace;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.login-page h1 {
	font-size: 3rem;
	margin: 1rem;
	margin-top: 3rem;
}

.login-page p {
	font-size: 1.5rem;
	margin: 1rem;
}

.form-group {
	font-size: 2rem;
	margin-top: 1rem;

}

.form-group input{
	background-color: var(--background);
	color: var(--foreground);
	border: 0.1rem solid var(--foreground);
}

.login-page form button {
	font-family: 'Courier New', Courier, monospace;
	font-size: 3rem;
	background-color: var(--background);
	color: var(--foreground);
	cursor: pointer;
	border-color: var(--foreground);
	border-width: 0.1rem;
	border-style: groove;
	margin-top: 3rem;
}

.login-page form button:hover{
	opacity: 0.5;
}

.button-container {
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin-top: 3rem;
}

.button-container button {
	margin-top: 0;
}
.button-container button:hover{
	opacity: 0.5;
	cursor: pointer;
}
